body h1 {
  font-family: "Bangers", cursive;
}

body p {
  font-family: "Open Sans", sans-serif;
}

.bg-custom {
  background-color: #000000;
}

.navbar {
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
}

.main-content {
  background-image: url("../img/monkees1.jpg");
  background-size: cover;
  height: 80vh;
  width: 100%;
  color: white;
  font-size: 2rem;
}

.social {
  font-size: 1.5rem;
}

.social .fab {
  color: #272626;
}
