h1 {
  font-family: "Bangers", cursive;
}

p {
  font-family: "Open Sans", sans-serif;
}

.bg-custom {
  background-color: #000000;
}

.navbar {
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  background-image: url("../img/monkees2.jpg");
  background-size: cover;

  width: 100%;
  color: white;
  font-size: 1rem;
}

.concert-content {
  background-image: url("../img/monkees2.jpg");
  background-size: cover;

  width: 100%;
  color: white;
  font-family: "Bangers", cursive;
  font-size: 1.5rem;
}

.main-content h1 {
  font-family: "Bangers", cursive;
  letter-spacing: 3px;
  font-size: 4rem;
}
.main-content-selling {
  height: 80vh;
}

.band-content {
  background-image: url("../img/concert1.jpg");
  background-size: cover;
  /* height: 80vh; */
  width: 100%;
  color: white;
}
h3 {
  font-family: "Bangers", cursive;
  letter-spacing: 3px;
  font-size: 4rem;
}

.cities {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  text-align: center;
}

.social {
  font-size: 1.5rem;
  height: 6vh;
}

.social .fab {
  color: #272626;
}

/* news */

.news {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 80vh; */
}

.news-item {
  padding: 15px;
  padding-bottom: 10px;
}

.news-image img {
  padding-top: 15px;
  height: 200px;
}

.news-header {
  font-family: "Bangers", cursive;
  font-size: 3rem;
}

/* band-members */

.band-content {
  display: flex;
}

.band-members img {
  height: 150px;
  text-align: center;
  padding: 15px;
}

.band-members {
  display: flex;
  text-align: center;
  font-family: "Bangers", cursive;
  justify-content: center;
}

/* albums */

.albums-list img {
  height: 300px;
}

@media only screen and (max-width: 600px) {
  .main-content {
    background-image: none;
    background-color: #000;
  }

  .news {
    flex-direction: column;
  }
  .band-members {
    flex-direction: column;
  }
  .band-info p {
    padding: 15px;
  }
}
